@model UserAuthModel

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROteinZone - Вход</title>
    <link rel="stylesheet" href="~/css/login.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="logo">PROteinZone</h1>
            <img src="~/img/icon/icon_logo.png" alt="Иконка" class="logo-icon">
        </div>
        <div class="header-line"></div>
    </header>   

    <div class="container">
        <div class="left">
            <h2>ЭНЕРГИЯ <br> <span>СИЛА</span> <br> РЕЗУЛЬТАТ</h2>
            <img src="~/img/open-sport.png" alt="Спортсмен" class="athlete-img">
        </div>
        <div class="right">
            <h2>Войти в аккаунт</h2>
            <p>Авторизуйтесь, чтобы быстрее оформлять заказы и отслеживать их в личном кабинете.</p>
            <form asp-controller="Auth" asp-action="Login" method="POST">
                <input type="text" class="input-field" placeholder="Login" asp-for="Login" required>
                <input type="email" class="input-field" placeholder="Email" asp-for="Email" required>
                <input type="password" class="input-field" placeholder="Password" minlength="5" asp-for="Password" required>
                <button type="submit" class="btn login-btn">Войти</button>
            </form>
            <div class="register-actions">
                <p class="register">Нет аккаунта? Создайте его за минуту!</p>
                <button onclick="window.location.href='/Auth/Register/'" class="btn register-btn">Зарегистрироваться</button>
            </div>
            <p class="guest-link"><a asp-controller="Home" asp-action="Index">Продолжить, как гость</a></p>
        </div>
    </div>
</body>

</html>