*.vsidx
obj/Debug/net9.0/staticwebassets/msbuild.Malyshev_Project.Microsoft.AspNetCore.StaticWebAssets.props
obj/Debug/net9.0/staticwebassets/msbuild.Malyshev_Project.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
obj/Debug/net9.0/staticwebassets.pack.json
obj/Debug/net9.0/staticwebassets.development.json
obj/Debug/net9.0/staticwebassets.build.json
obj/Debug/net9.0/staticwebassets.build.endpoints.json
obj/Debug/net9.0/refint/Malyshev_Project.dll
obj/Debug/net9.0/ref/Malyshev_Project.dll
obj/Debug/net9.0/Malyshev_Project.sourcelink.json
obj/Debug/net9.0/Malyshev_Project.pdb
obj/Debug/net9.0/Malyshev_Project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/Malyshev_Project.dll
obj/Debug/net9.0/Malyshev_Project.csproj.FileListAbsolute.txt
obj/Debug/net9.0/Malyshev_Project.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/Malyshev_Project.AssemblyInfoInputs.cache
obj/Debug/net9.0/Malyshev_Project.AssemblyInfo.cs
obj/Debug/net9.0/compressed/zgglblzsn7-pt454luakd.gz
obj/Debug/net9.0/compressed/t60tbor14d-y56lnhiamm.gz
obj/Debug/net9.0/compressed/t5s2wnz3dq-grab6john9.gz
obj/Debug/net9.0/compressed/j84t21q08c-5ja2jezivs.gz
obj/Debug/net9.0/compressed/ir3317wh65-3zmm962p3t.gz
obj/Debug/net9.0/compressed/ir3317wh65-30as7hujlr.gz
obj/Debug/net9.0/compressed/gjw7zvwg1v-xw3v5gntim.gz
obj/Debug/net9.0/compressed/aljlgbz1pk-rx0nxf3mpy.gz
obj/Debug/net9.0/compressed/aljlgbz1pk-3as4ziu21n.gz
obj/Debug/net9.0/compressed/5ibg4lhu48-dcpamow1k7.gz
obj/Debug/net9.0/compressed/38j7by0bd5-8pen4wxu3j.gz
obj/Debug/net9.0/compressed/2yj0crnn5y-6zsmloczlc.gz
obj/Debug/net9.0/compressed/0swbyv06mq-vi36gxdlcl.gz
obj/Debug/net9.0/apphost.exe
bin/Debug/net9.0/Malyshev_Project.staticwebassets.runtime.json
bin/Debug/net9.0/Malyshev_Project.staticwebassets.endpoints.json
bin/Debug/net9.0/Malyshev_Project.pdb
bin/Debug/net9.0/Malyshev_Project.exe
bin/Debug/net9.0/Malyshev_Project.dll
bin/Debug/net9.0/Malyshev_Project.dll
bin/Debug/net9.0/Malyshev_Project.exe
bin/Debug/net9.0/Malyshev_Project.pdb
bin/Debug/net9.0/Malyshev_Project.staticwebassets.endpoints.json
bin/Debug/net9.0/Malyshev_Project.staticwebassets.runtime.json
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/compressed/0swbyv06mq-vi36gxdlcl.gz
obj/Debug/net9.0/compressed/2yj0crnn5y-6zsmloczlc.gz
obj/Debug/net9.0/compressed/38j7by0bd5-8pen4wxu3j.gz
obj/Debug/net9.0/compressed/5ibg4lhu48-dcpamow1k7.gz
obj/Debug/net9.0/compressed/aljlgbz1pk-3as4ziu21n.gz
obj/Debug/net9.0/compressed/gjw7zvwg1v-xw3v5gntim.gz
obj/Debug/net9.0/compressed/ir3317wh65-30as7hujlr.gz
obj/Debug/net9.0/compressed/j84t21q08c-5ja2jezivs.gz
obj/Debug/net9.0/compressed/t5s2wnz3dq-grab6john9.gz
obj/Debug/net9.0/compressed/t60tbor14d-y56lnhiamm.gz
obj/Debug/net9.0/compressed/zgglblzsn7-pt454luakd.gz
obj/Debug/net9.0/Malyshev_Project.AssemblyInfo.cs
obj/Debug/net9.0/Malyshev_Project.AssemblyInfoInputs.cache
obj/Debug/net9.0/Malyshev_Project.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/Malyshev_Project.csproj.FileListAbsolute.txt
obj/Debug/net9.0/Malyshev_Project.dll
obj/Debug/net9.0/Malyshev_Project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/Malyshev_Project.pdb
obj/Debug/net9.0/Malyshev_Project.sourcelink.json
obj/Debug/net9.0/ref/Malyshev_Project.dll
obj/Debug/net9.0/refint/Malyshev_Project.dll
obj/Debug/net9.0/staticwebassets.build.endpoints.json
obj/Debug/net9.0/staticwebassets.build.json
obj/Debug/net9.0/staticwebassets.development.json
obj/Debug/net9.0/staticwebassets.pack.json
obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
obj/Debug/net9.0/staticwebassets/msbuild.Malyshev_Project.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
obj/Debug/net9.0/staticwebassets/msbuild.Malyshev_Project.Microsoft.AspNetCore.StaticWebAssets.props
bin/Debug/net9.0/Malyshev_Project.dll
bin/Debug/net9.0/Malyshev_Project.dll
bin/Debug/net9.0/Malyshev_Project.exe
bin/Debug/net9.0/Malyshev_Project.pdb
bin/Debug/net9.0/Malyshev_Project.staticwebassets.endpoints.json
bin/Debug/net9.0/Malyshev_Project.staticwebassets.runtime.json
obj/Debug/net9.0/apphost.exe
obj/Debug/net9.0/compressed/0swbyv06mq-vi36gxdlcl.gz
obj/Debug/net9.0/compressed/2yj0crnn5y-6zsmloczlc.gz
obj/Debug/net9.0/compressed/38j7by0bd5-8pen4wxu3j.gz
obj/Debug/net9.0/compressed/5ibg4lhu48-dcpamow1k7.gz
obj/Debug/net9.0/compressed/aljlgbz1pk-3as4ziu21n.gz
obj/Debug/net9.0/compressed/gjw7zvwg1v-xw3v5gntim.gz
obj/Debug/net9.0/compressed/ir3317wh65-30as7hujlr.gz
obj/Debug/net9.0/compressed/j84t21q08c-5ja2jezivs.gz
obj/Debug/net9.0/compressed/t5s2wnz3dq-grab6john9.gz
obj/Debug/net9.0/compressed/t60tbor14d-y56lnhiamm.gz
obj/Debug/net9.0/compressed/zgglblzsn7-pt454luakd.gz
obj/Debug/net9.0/Malyshev_Project.AssemblyInfo.cs
obj/Debug/net9.0/Malyshev_Project.AssemblyInfoInputs.cache
obj/Debug/net9.0/Malyshev_Project.csproj.CoreCompileInputs.cache
obj/Debug/net9.0/Malyshev_Project.csproj.FileListAbsolute.txt
obj/Debug/net9.0/Malyshev_Project.dll
obj/Debug/net9.0/Malyshev_Project.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net9.0/Malyshev_Project.pdb
obj/Debug/net9.0/Malyshev_Project.sourcelink.json
obj/Debug/net9.0/ref/Malyshev_Project.dll
obj/Debug/net9.0/refint/Malyshev_Project.dll
obj/Debug/net9.0/staticwebassets.build.endpoints.json
obj/Debug/net9.0/staticwebassets.build.json
obj/Debug/net9.0/staticwebassets.development.json
obj/Debug/net9.0/staticwebassets.pack.json
obj/Debug/net9.0/staticwebassets.upToDateCheck.txt
obj/Debug/net9.0/staticwebassets/msbuild.Malyshev_Project.Microsoft.AspNetCore.StaticWebAssetEndpoints.props
obj/Debug/net9.0/staticwebassets/msbuild.Malyshev_Project.Microsoft.AspNetCore.StaticWebAssets.props
