<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROteinZone - Главная страница</title>
    <link rel="stylesheet" href="~/css/home.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="logo">PROteinZone</h1>
            <img src="~/img/icon/icon_logo.png" alt="Иконка" class="logo-icon">
        </div>
        <nav>
            <ul>
                <li class="active"><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li><a asp-controller="Home" asp-action="About">О нас</a></li>
                <li><a asp-controller="Catalog" asp-action="Catalog">Каталог товаров</a></li>
                <li><a asp-controller="Home" asp-action="NutritionGuide">Гид по питанию</a></li>
                <li><a asp-controller="Home" asp-action="Contacts">Контакты</a></li>
                <li class="cabinet-btn">
                    <a asp-controller="User" asp-action="MyProfile">
                        Личный кабинет
                        <img src="~/img/icon/icon_cabinet.png" alt="Личный кабинет">
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="header-line"></div>

    <div class="preview container">
        <img src="~/img/vector/vector_preview.png" alt="Фон вектора" class="vector-preview">
        <div class="preview-info">
            <h1>Двигайся быстрее, тренируйся сильнее, восстанавливайся лучше!</h1>
            <p>Протеины, аминокислоты, витамины, гейнеры и другие добавки обеспечивают спортсменов и активных людей
                необходимыми питательными веществами для достижения максимальных результатов.
            </p>
            <p>Выбирайте качественное питание с нами!</p>
            <button class="btn">Посмотреть каталог</button>
        </div>

        <div class="preview-images">
            <img src="~/img/whey.png" alt="Протеин" class="img-whey">
            <img src="~/img/creatine.png" alt="Креатин" class="img-creatine">
            <img src="~/img/bar.png" alt="Батончик" class="img-bar">
            <img src="~/img/blur.png" alt="Блюр" class="img-blur">
        </div>
    </div>

    <section class="why-choose-us">
        <img src="~/img/vector/vector_choose.png" alt="Фон вектора" class="vector-choose">
        <div class="why-container">
            <div class="why-image">
                <img src="~/img/why-choose.png" alt="Протеин">
            </div>
            <div class="why-info">
                <h2>Почему стоит работать именно с нами?</h2>
                <ul>
                    <li>
                        <div class="icon-circle"><img src="~/img/icon/1.png" alt="Оригинальная продукция"></div>
                        <div class="text-container">
                            <span class="title">Оригинальная продукция</span>
                            <p>Работаем только с проверенными брендами, 100% подлинность и качество</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-circle"><img src="~/img/icon/2.png" alt="Быстрая доставка"></div>
                        <div class="text-container">
                            <span class="title">Быстрая доставка</span>
                            <p>Мы отправляем заказы в тот же день, а курьерская служба привезет вам заказ в кратчайшие
                                сроки</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-circle"><img src="~/img/icon/3.png" alt="Экспертная поддержка"></div>
                        <div class="text-container">
                            <span class="title">Экспертная поддержка</span>
                            <p>Поможем подобрать продукцию для любых целей и задач</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon-circle"><img src="~/img/icon/4.png" alt="Акции и бонусы"></div>
                        <div class="text-container">
                            <span class="title">Акции и бонусы</span>
                            <p>Скидки, акции и специальные предложения для наших клиентов</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="brands-section">
        <img src="~/img/vector/vector_brand.png" alt="Фон вектора" class="vector-brand">
        <div class="container">
            <h2 class="section-title">Сотрудничаем с брендами</h2>

            <div class="brands-logos">
                <div class="brand-card">
                    <img src="~/img/brands/optimum.png" alt="OPTIMUM NUTRITION" class="brand-logo">
                </div>
                <div class="brand-card">
                    <img src="~/img/brands/bombbar.png" alt="BOMBBAR" class="brand-logo">
                </div>
                <div class="brand-card">
                    <img src="~/img/brands/myprotein.png" alt="MYPROTEIN" class="brand-logo">
                </div>
                <div class="brand-card">
                    <img src="~/img/brands/maxler.png" alt="MAXLER" class="brand-logo">
                </div>
                <div class="brand-card">
                    <img src="~/img/brands/optimeal.png" alt="OPTIMEAL" class="brand-logo">
                </div>
            </div>

            <div class="brands-description">
                <h3>Мы сотрудничаем с ведущими брендами спортивного питания</h3>
                <p>Доверяем этим производителям за их высокое качество, проверенные составы и научный подход к
                    разработке спортивного питания.</p>
            </div>
        </div>
    </section>
    <section class="hero-section">
        <div class="hero-image">
            <img src="~/img/strong-body.png" alt="Спортсмен">
        </div>
        <div class="hero-content">
            <h2><span class="text-white">СДЕЛАЙ</span> <span class="text-yellow">СВОЕ</span> <span
                    class="text-white">ТЕЛО</span> <span class="text-yellow">СИЛЬНЫМ</span></h2>
            <p>Белок питает мышцы, ускоряет восстановление и<br>усиливает выносливость во время тренировок</p>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-brand">
                    <h2 class="footer-logo">PROteinZone</h2>
                    <div class="social-links">
                        <a href="#" class="social-circle"><img src="~/img/icon/telegram.png" alt="Instagram"></a>
                        <a href="#" class="social-circle"><img src="~/img/icon/vk.png" alt="VK"></a>
                        <a href="#" class="social-circle"><img src="~/img/icon/email.png" alt="Telegram"></a>
                    </div>
                </div>

                <div class="footer-contacts">
                    <h3>Наши контакты:</h3>
                    <p>+7(996)555-66-77</p>
                    <p>proteinzone@mail.com</p>
                    <p>г. Ярославль, ул. Победы, д.11, офис 16</p>
                    <p>пн-пт: 9:00 - 18:00</p>
                </div>

                <div class="footer-links">
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                        <li><a asp-controller="Home" asp-action="About">О нас</a></li>
                        <li><a asp-controller="Catalog" asp-action="Catalog">Каталог товаров</a></li>
                        <li><a asp-controller="Home" asp-action="Guide">Гид по питанию</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-copyright">
                <p>© 2025 PROteinZone. Все права защищены.</p>
            </div>
        </div>
    </footer>
</body>

</html>
