@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap");

/*Страница для входа*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #ffff;
}
header {
    text-align: center;
    padding-top: 25px;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo {
    font-family: 'Potta One', cursive;
    font-size: 48px;
    font-weight: 400;
}

.logo-icon {
    width: 75px; 
    height: 75px;
}

.header-line {
    height: 2px;
    background-color: #6A6060;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Тень линии */
}
/* Центрируем контейнер */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1288px;
    height: 652px;
    background-color: white;
    margin: 51px auto; /* Центрирование */
}
/* Левая часть */
.left {
    position: relative;
    width: 50%;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    position: relative;
    height: 100%; /* Задаем высоту */
    overflow: hidden; /* Обрезаем лишнее */
}

/* Заголовок в левой части */
.left h2 {
    position: absolute; /* Позволяет точно задать отступы */
    top: -200px;
    font-size: 40px;
    font-weight: 900;
    line-height: 70px;
    position: relative;
    z-index: 2; /* Выше изображения */
    margin-left: 40px;
}

.left h2 span {
    color: #F9B300;
}

/* Картинка спортсмена */
.athlete-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняем контейнер */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
/* Правая часть */
.right {
    width: 50%;
    background: #FFC62F;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.right h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.right p {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #505050;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Поля ввода */
.input-field {
    font-size: 16px;
    width: 90%;
    max-width: 425px;
    height: 59px;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    text-align: left;
}

/* Кнопки */
.btn {
    width: 186px;
    height: 42px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px; /* Расстояние между кнопками */
}

.register-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* расстояние между текстом и кнопкой */
    margin-top: 10px;
}

.register {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    color: #505050;
}

.register-btn {
    width: 186px;
    height: 42px;
}

/* Стиль для ссылки "Продолжить, как гость" */
.guest-link {
    margin-top: 15px;
    font-size: 22px;
    font-weight: 400;
    color: #505050;
}

.guest-link a {
    color: #505050;
    text-decoration: underline;
    transition: color 0.3s;
}

.guest-link a:hover {
    color: #333;
}
