@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000&display=swap");

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #fff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

/* Шапка */
header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 75px;
    background: white;
}

.header-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    font-family: 'Potta One', cursive;
    font-size: 30px;
    font-weight: 400;
}

.logo-icon {
    width: 50px;
    height: 50px;
}

.header-line {
    height: 2px;
    background-color: #6A6060;
    width: 100%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

nav {
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 65px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    font-size: 18px;
    font-weight: 600;
}

nav ul li.active a {
    color: #F9B300;
    font-weight: 800;
}

nav ul li a:hover {
    color: #F9B300;
}

.cabinet-btn a {
    display: flex;
    align-items: center;
    background-color: #F9B300;
    padding: 15px 35px;
    border-radius: 25px;
    font-weight: 800;
    font-size: 22px;
    color: #ffff !important;
    transition: transform 0.2s ease-in-out;
}

.cabinet-btn img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.cabinet-btn a:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.vector-basket1 {
    position: absolute;
    top: -200px;
    right: 0;
    width: 40%;
    height: 90%; 
    z-index: -10;
}

/*Карточка*/
.product-page {
    padding: 40px 80px;
    max-width: 1500px;
    margin: 0 auto;
}

.back-link {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    display: flex; 
    align-items: center; 
    gap: 8px; 
    transition: color 0.3s;
}

.back-link:hover {
    color: #F9B300;
}

.back-link img {
    width: 50px;
    height: 50px;
}

.product-container {
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.product-left {
    flex: 1;/*Занимает всю долю пространства*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-main-image {
    width: 120%;
    height: auto;
    object-fit:contain;/*Сохранение пропорций без обрезки*/
    margin-bottom: 20px;
    border: 3px solid #999;    
    border-radius: 40px; 
}

.add-to-cart-btn {
    background-color: #F9B300;
    font-weight: 800;
    font-size: 22px;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    margin-bottom: 40px;
    transition: transform 0.2s ease-in-out;
}

.add-to-cart-btn:hover {
    transform: scale(1.05);
}
/*Товар добавлен в корзину*/
.add-to-cart-btn.added,
.added {
    background-color: #4CAF50;
    color: black;
    cursor: default;/*Обычный курсор*/
}

/*Правая сторона*/
.product-right {
    flex: 2;/*Занимает 2 доли пространства*/
}

.product-right h2 {
    max-width: 600px;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px;
}

.product-right p {
    font-size: 20px;
    margin-bottom: 10px;
}

.label {
    font-weight: 700;
    font-size: 20px;
    color: #1b1b1b;
    margin-right: 5px;
}

.price {
    font-weight: 800;
    color: #000;
    font-size: 32px;
}

.product-description h3 {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 10px;
    color: #F9B300;
}

.product-description p {
    font-size: 20px;
    margin-bottom: 15px;
}

/*Блок наличия в магазинах*/
.store-availability {
    margin-left: 0px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    max-width: 450px;
}

.store-availability h3 {
    color: #2D2A2A;
    margin-bottom: 10px;
    font-size: 22px;
}

.store-availability ul {
    list-style: none;
}

.store-availability li {
    display: flex;
    align-items: flex-start;/*Выравнивание по верхнему краю*/
    gap: 15px;
    padding: 5px 0;
    border-bottom: 2px solid #999;
}

.store-availability img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.store-text p {
    margin-bottom: 5px;
}

/*Отзывы*/
.reviews-section {
    max-width: 1450px;
    margin: 0px auto;    
}

.reviews-section h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #2D2A2A;
}

.review-card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
    padding: 20px 25px;
    margin-bottom: 20px;
    transition: all 0.3s ease; 
}
.review-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12);
}
.review-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
}

.review-header img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;/*Обрезка по контейнеру*/
}

.review-name {
    font-weight: 700;
    font-size: 20px;
}

.review-date {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}
.review-rating {
    display: flex;/*Расположение звезды и рейтинга в строку*/
    align-items: center;
    gap: 6px;
    color: #2D2A2A;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
}

.review-rating img {
    width: 24px;
    height: 24px;
    position: relative;
    top: -2px;
}
.review-text {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 20px 0px;
}

/*Добавление отзыва*/
.rating-input {
    width: 60px;
    height: 30px;
    padding: 4px 8px;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;/*Убираем стандартную обводку*/
    margin-left: 10px;
}

.review-textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #ccc;
    outline: none;/*Убираем стандартную обводку*/
    resize: vertical;/*Вертикальное изменение размера*/
    min-height: 120px;
    margin: 20px 0;
}

.form-actions {
    display: flex;
    justify-content: flex-end;/*Выравнивание вправо*/
    gap: 10px;
}

.submit-btn {
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    transition: background 0.3s ease;
}

.submit-btn {
    background-color: #F9B300;
    color: #333;
}

.submit-btn:hover {
    background-color: #e0a000;
}

/* Стили для пустых отзывов */
.empty-reviews {
    background: #fff;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    padding: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 40px auto;
    max-width: 1450px;
    flex-wrap: wrap;
}

.empty-reviews p {
    font-size: 22px;
    font-weight: 600;
    color: #505050;
}


/* Футер */
.footer {
    color: #000;
    padding: 30px 0 10px;
    background-color: #fff;
    width: 100%;
    clear: both;
    margin-top: 100px;
    position: relative;
    z-index: 1; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.footer-content {
    display: flex;
    justify-content: space-between;/*Распределение пространства*/
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 100px;
    align-items: flex-start;/*Выравнивание по верхнему краю*/
    padding: 0 20px;
}

.footer-brand {
    flex: 1;
    min-width: 300px;
}

.footer-logo {
    font-family: 'Potta One', cursive;
    font-size: 36px;
    font-weight: 400;
    color: #000;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    background-color: #F9B300;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-circle img {
    width: 45px;
    height: 45px;
}

.social-circle:hover {
    transform: scale(1.1);
}

.footer-contacts {
    flex: 1;
    min-width: 400px;
}

.footer-contacts h3 {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #F9B300;
}

.footer-contacts p {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
}

.footer-links {
    flex: 1;
    min-width: 200px;
}

.footer-links ul {
    list-style: none;
    margin-top: 50px;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #F9B300;
}

.footer-copyright {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    border-top: 1px solid #737373;
    font-size: 16px;
    color: #1b1a1a;
}
